practice-04-capstone/node-red/flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Orchestration",
        "disabled": false
    },

    {
        "id": "health_in",
        "type": "http in",
        "z": "flow1",
        "name": "GET /health",
        "url": "/health",
        "method": "get",
        "x": 200,
        "y": 100,
        "wires": [["health_fn"]]
    },
    {
        "id": "health_fn",
        "type": "function",
        "z": "flow1",
        "name": "Health OK",
        "func": "msg.payload = { status: 'ok' }; return msg;",
        "x": 380,
        "y": 100,
        "wires": [["response_health"]]
    },
    {
        "id": "response_health",
        "type": "http response",
        "z": "flow1",
        "x": 560,
        "y": 100,
        "wires": []
    },

    {
        "id": "in1",
        "type": "http in",
        "z": "flow1",
        "name": "POST /order",
        "url": "/order",
        "method": "post",
        "x": 200,
        "y": 300,
        "wires": [["init"]]
    },

    {
        "id": "init",
        "type": "function",
        "z": "flow1",
        "name": "Init",
        "func": "msg.correlationId = Date.now() + '-' + Math.random();\nmsg.trace = [];\nmsg.payload.correlationId = msg.correlationId;\nreturn msg;",
        "x": 380,
        "y": 300,
        "wires": [["orderReq"]]
    },

    {
        "id": "orderReq",
        "type": "http request",
        "z": "flow1",
        "name": "Create Order",
        "method": "POST",
        "ret": "obj",
        "url": "http://order-service:3001/orders",
        "x": 560,
        "y": 300,
        "wires": [["orderTrace"]]
    },

    {
        "id": "orderTrace",
        "type": "function",
        "z": "flow1",
        "name": "Trace Order",
        "func": "msg.orderId = msg.payload.orderId;\nmsg.trace.push({step:'order',status:'success',time:Date.now()});\nreturn msg;",
        "x": 740,
        "y": 300,
        "wires": [["paymentReq"]]
    },

    {
        "id": "paymentReq",
        "type": "http request",
        "z": "flow1",
        "name": "Payment",
        "method": "POST",
        "ret": "obj",
        "url": "http://payment-service:3002/payment/authorize",
        "x": 920,
        "y": 300,
        "wires": [["paymentSwitch"]]
    },

    {
        "id": "paymentSwitch",
        "type": "switch",
        "z": "flow1",
        "name": "Payment OK?",
        "property": "payload.status",
        "rules": [
            { "t": "eq", "v": "authorized" },
            { "t": "else" }
        ],
        "outputs": 2,
        "x": 1100,
        "y": 300,
        "wires": [
            ["paymentOk"],
            ["paymentFail"]
        ]
    },

    {
        "id": "paymentFail",
        "type": "function",
        "z": "flow1",
        "name": "Payment Failed",
        "func": "msg.trace.push({step:'payment',status:'failed',time:Date.now()});\nmsg.payload={orderId:msg.orderId,correlationId:msg.correlationId,status:'failed',trace:msg.trace};\nreturn msg;",
        "x": 1300,
        "y": 200,
        "wires": [["response"]]
    },

    {
        "id": "paymentOk",
        "type": "function",
        "z": "flow1",
        "name": "Payment OK",
        "func": "msg.trace.push({step:'payment',status:'success',time:Date.now()});\nreturn msg;",
        "x": 1300,
        "y": 300,
        "wires": [["inventoryReq"]]
    },

    {
        "id": "inventoryReq",
        "type": "http request",
        "z": "flow1",
        "name": "Inventory",
        "method": "POST",
        "ret": "obj",
        "url": "http://inventory-service:3003/inventory/reserve",
        "x": 1500,
        "y": 300,
        "wires": [["inventorySwitch"]]
    },

    {
        "id": "inventorySwitch",
        "type": "switch",
        "z": "flow1",
        "name": "Inventory OK?",
        "property": "payload.status",
        "rules": [
            { "t": "eq", "v": "reserved" },
            { "t": "else" }
        ],
        "outputs": 2,
        "x": 1700,
        "y": 300,
        "wires": [
            ["inventoryOk"],
            ["inventoryFail"]
        ]
    },

    {
        "id": "inventoryFail",
        "type": "function",
        "z": "flow1",
        "name": "Inventory Fail",
        "func": "msg.trace.push({step:'inventory',status:'failed',time:Date.now()});\nreturn msg;",
        "x": 1900,
        "y": 200,
        "wires": [["refund"]]
    },

    {
        "id": "refund",
        "type": "http request",
        "z": "flow1",
        "name": "Refund",
        "method": "POST",
        "ret": "obj",
        "url": "http://payment-service:3002/payment/refund",
        "x": 2100,
        "y": 200,
        "wires": [["refundTrace"]]
    },

    {
        "id": "refundTrace",
        "type": "function",
        "z": "flow1",
        "name": "Refund Trace",
        "func": "msg.trace.push({step:'refund',status:'success',time:Date.now()});\nmsg.payload={orderId:msg.orderId,correlationId:msg.correlationId,status:'compensated',trace:msg.trace};\nreturn msg;",
        "x": 2300,
        "y": 200,
        "wires": [["response"]]
    },

    {
        "id": "inventoryOk",
        "type": "function",
        "z": "flow1",
        "name": "Inventory OK",
        "func": "msg.trace.push({step:'inventory',status:'success',time:Date.now()});\nreturn msg;",
        "x": 1900,
        "y": 350,
        "wires": [["shippingReq"]]
    },

    {
        "id": "shippingReq",
        "type": "http request",
        "z": "flow1",
        "name": "Shipping",
        "method": "POST",
        "ret": "obj",
        "url": "http://notification-service:3004/notification/send",
        "x": 2100,
        "y": 350,
        "wires": [["shippingTrace"]]
    },

    {
        "id": "shippingTrace",
        "type": "function",
        "z": "flow1",
        "name": "Shipping OK",
        "func": "msg.trace.push({step:'shipping',status:'success',time:Date.now()});\nreturn msg;",
        "x": 2300,
        "y": 350,
        "wires": [["notify"]]
    },

    {
        "id": "notify",
        "type": "http request",
        "z": "flow1",
        "name": "Notify",
        "method": "POST",
        "ret": "obj",
        "url": "http://notification-service:3004/notification/send",
        "x": 2500,
        "y": 350,
        "wires": [["success"]]
    },

    {
        "id": "success",
        "type": "function",
        "z": "flow1",
        "name": "Success",
        "func": "msg.trace.push({step:'notification',status:'success',time:Date.now()});\nmsg.payload={orderId:msg.orderId,correlationId:msg.correlationId,status:'completed',trace:msg.trace};\nreturn msg;",
        "x": 2700,
        "y": 350,
        "wires": [["response"]]
    },

    {
        "id": "response",
        "type": "http response",
        "z": "flow1",
        "name": "",
        "x": 2900,
        "y": 300,
        "wires": []
    }
]